.container {
    width: 800px;
    margin-left: calc(50% - 400px);;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.logo {
    width: 6%;
}

.menu {
    text-decoration: none;
    margin-right: 20px;
}
.menu:hover {
    text-decoration: underline;
}

  /* MAIN */

.left_column {
    width: 40%; 
    display: inline-block;
}
.content {
    font-size: 16px;
    margin-bottom: 20%;
    line-height: 20px;

}
  .btn {
    border-radius: 20px;
    background-color: #662C8C; 
    color:#FFFFFF; 
    padding: 3%;  
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px #662C8C;
  }
  .btn_white {
    margin: 3%;
    padding: 3% 10%;  
    background-color: #FFFFFF;
    color:#662C8C;
  }
  .btn:hover{
    font-size: xx-large;
  }

 .right_column_img {
    float: right; 
    width: 53%;
 }

    /* FOOTER */
.social_link {
    display: inline-block;
    padding: 10px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
}

.social_link:hover {
    background-color: #662C8C;
    color: gainsboro;
}

.copyright {
   float: right;
    }

