.container {
    width: 800px;
    margin-left: calc(50% - 400px);;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.logo {
    width: 6%;
}

.menu {
    text-decoration: none;
    margin-right: 20px;
}

  /* MAIN */
.left_column {
    width: 40%; 
    margin-top: 10%;
    display: inline-block;
}
.content {
    font-size: small;
    margin-bottom: 20%
}
  .btn_1 {
    border-radius: 20px;
    background-color: #662C8C; 
    color:#FFFFFF; 
    max-width: 3%; 
    padding: 3%;  
    text-decoration: none;
  }
  .btn_2 {
    border-radius: 20px;
    background-color: #FFFFFF;  
    margin: 3%;
    padding: 3% 10%;  
    text-decoration: none;
    border-color: #662C8C;  
    text-decoration: none; 
    border: solid 1px;
  }

 .right_column_img {
    float: right; 
    width: 53%; 
    margin-top: 5%;
 }

    /* FOOTER */
.socials {
    margin-top: 5%;
    display: inline-block;
}

.copyright {
    margin-top: 5%;
    margin-left: 60%;
    display: inline-block;
    }

