body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 5%;
    margin-top: 3%;
    box-sizing: border-box;
    background-color: rgb(61, 243, 61);
    }

 .container {
    display: inline-flex;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    justify-content: space-evenly;
    background-color: pink;
    
.div_major {
    width: 23%;
    margin-right: 2%;
    text-align: center;
    justify-content: space-evenly;
    background-color: yellow;
    }
    
.img {
    filter: invert(1);
    padding: 25%;
    background-color: aqua;
}
.img_background {
    width: 80%;
    height: 28%;
    display: inline-flex;
    position: relative;
}
.first {
    background-color: #70C0C9;
}
.second {
    background-color: #4074BD;
}
.third {
    background-color: #E05E46;
}
.fourth {
    background-color: #919191;
}
.number {
    border: solid 2px #70C0C9;
    border-radius: 20px;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 20px; 
    left: 105px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif; 
}  

.first_number {
    color: #70C0C9;
}
.second_number {
    color: #4074BD;
}
.third_number {
    color: #E05E46;
}
.fourth_number {
    color: #919191;
}

.h1 {
    text-transform: uppercase;
    color: #E5786A;
    font-size: medium;
    width: 90%;
}